#beginComunity {
  text-align: center;
  border-radius: 15px;
  border-color: rgba(0,0,0,0);
  background-color: #108b8b;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  width: 150px;
  font-size: 18px;
  height: 40px;
}

