#showPassBtn {
  background-color: transparent;
  color: #108b8b;
  font-size: 13px;
}

#joinHere {
  display: table-cell;
  border-radius: 15px;
  border-color: rgba(255,255,255,0);
  background-color: #108B8B;
  height: 35px;
  font-family: Roboto, sans-serif;
}

.lostPassClass:hover {
  color: #108B8B;
}

#loginPage_Body {
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  background-color: rgba(255,255,255,0);
  height: auto;
  min-height: 0px;
  width: 100%;
  font-family: Roboto, sans-serif;
}

#loginSection {
  background-position: top;
  background-size: contain;
  padding-bottom: 0px;
  color: rgba(33,37,41,0);
  height: auto;
  width: 100%;
  background-color: rgba(246,246,246,0);
  background-repeat: repeat;
}

#loginContainer {
  border-width: 0px;
  background-size: contain;
  background-position: bottom;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgba(0,0,0,0);
  height: auto;
  width: 100%;
  max-width: none;
}

