.lostPasswordButton {
  border-width: 0px;
  border-radius: 0px;
  font-size: 13px;
  background-color: rgba(255,255,255,0);
  color: #108B8B;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

