.sticky {
  /*position: fixed;*/
  top: 0;
  width: 100%;
}

.navbar {
  /*overflow: hidden;*/
  /*position: fixed;*/
  padding: .5rem 1rem;
}

.row {
  /*z-index: -1;*/
  /*position: sticky;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-ms-flex-wrap: wrap;*/
  /*flex-wrap: wrap;*/
  /*margin-right: -15px;*/
  /*margin-left: -15px;*/
}

.row2 {
  z-index: -1;
}

