#divImageUser {
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 100px;
  background-color: #ffffff;
  height: 100px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

#registerUserButton {
  width: 500px;
  display: table-cell;
  border-radius: 12px;
  border-color: #bfbfbf;
  font-family: Roboto, sans-serif;
  color: rgb(54,54,54);
  font-weight: bold;
}

