.laser {
  margin-left: 1px;
  margin-top: 3px;
  border-radius: 25px;
  width: 98.5%;
  background-color: #00a542;
  height: 1.5px;
  animation: scanning 3s infinite;
}

@keyframes scanning {
  50% {
    transform: translateY(190px);
  }
}

.div_upRight {
  right: 0px;
  top: 0px;
  border-top: 12px solid rgba(31,174,174,0.5);
  border-right: 12px solid rgba(31,174,174,0.5);
  position: absolute;
}

.div_upLeft.div_scan {
}

.div_upLeft {
  /*border-radius: 4px;*/
  left: 0px;
  top: 0px;
  position: absolute;
  border-left: 12px solid rgba(31,174,174,0.5);
  border-top: 12px solid rgba(31,174,174,0.5);
}

.div_bottomLeft {
  /*border-radius: 4px;*/
  left: 0px;
  bottom: 0px;
  position: absolute;
  border-left: 12px solid rgba(31,174,174,0.5);
  border-bottom: 12px solid rgba(31,174,174,0.5);
}

.div_bottomRight {
  /*border-radius: 4px;*/
  right: 0px;
  bottom: 0px;
  position: absolute;
  border-right: 12px solid rgba(31,174,174,0.5);
  border-bottom: 12px solid rgba(31,174,174,0.5);
}

.div_scan {
  width: 50px;
  height: 50px;
  z-index: 6;
}

