.laser {
  margin-left: 1px;
  margin-top: 3px;
  border-radius: 25px;
  width: 98.5%;
  background-color: #12ab4f;
  height: 1.5px;
  animation: scanning 3s infinite;
}

@keyframes scanning {
  50% {
    transform: translateY(167px);
  }
}
