.steps-progressbar > ul {
  /*display: table;*/
  table-layout: fixed;
  border-collapse: separate;
  margin: 12px 0 10px;
  width: 100%;
  padding: 0;
  list-style: none;
  color: #5e5e5e;
  font-size: 8px;
  font-weight: 400;
}

.steps-progressbar > ul > li {
  position: relative;
  display: table-cell;
  list-style-type: none;
  font-weight: 400;
  text-align: center;
}

.steps-progressbar > ul > li:before {
  position: inherit;
  display: block;
  margin: 1px 1px 1px;
  width: 20px;
  height: 15px;
  border: 2px solid #dbdbdb;
  border-radius: 0% 0% 0% 0%;
  background-color: #ffffff;
  line-height: 30px;
  content: " ";
  z-index: 1;
}

.steps-progressbar > ul > li:after {
  position: absolute;
  top: 4px;
  right: 50%;
  width: 100%;
  height: 12px;
  box-shadow: inset 0 0 5px rgba(255,255,255,0);
  /*background-color: #ff0000;*/
  content: " ";
  z-index: 0;
}

.steps-progressbar > ul > li:first-child:after {
  content: none;
}

.steps-progressbar > ul > li:first-child:before {
  border-radius: 50% 0% 0% 50%;
  /*width: 50px;*/
}

.steps-progressbar > ul > li:last-child:before {
  border-radius: 0% 50% 50% 0%;
  /*width: 50px;*/
}

.steps-progressbar > ul > li.active:before, .steps-progressbar > ul > li.previous:before {
  border-color: rgba(170,170,170,0);
  background-color: #1dbdbd;
}

.steps-progressbar > ul > li.active:after, .steps-progressbar > ul > li.previous:after {
  box-shadow: none;
  background-color: rgba(255,0,0,0);
}

.steps-progressbar > ul > li.active:before {
  margin-top: 1px;
  margin-bottom: 0px;
  width: 20px;
  height: 30px;
  background-color: rgba(196,230,235,0);
  border-radius: 0% 0% 0% 0%;
}

