@media screen and (max-width: 450px) {
  span.span_text_sm {
    font-size: 100%;
    vertical-align: middle;
  }
}

@media screen and (min-width: 451px) {
  span.span_text_sm {
    font-size: 150%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 450px) {
  span.span_text {
    font-size: 16px;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1000px) {
  span.span_text {
    font-size: 32px;
    vertical-align: middle;
  }
}

.clean-block.clean-form form {
  border-top: 2px solid rgba(255,0,0,0);
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
}

.text-center {
  vertical-align: middle;
  text-align: center;
}

.border-primary {
  border-width: 1px;
  border-color: rgba(255,255,255,0)!important;
}

.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.clean-navbar {
}

@media (min-width:1200px) {
  .container {
    max-width: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  text-align: center;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.square {
  /*float: left;*/
  position: relative;
  width: 50%;
  /*padding-bottom: 30%;*/
  margin: 1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

